<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.python.modules">
      <directory
            path="py/">
      </directory>
   </extension>
   <extension
         point="org.knime.python.typeextension.knimetopython">
      <type
            id="org.knime.knip.python.extensions.ImgPlusSerializer"
            java-serializer-factory="org.knime.knip.python.extensions.ImgPlusSerializer"
            python-deserializer="py/KNIPImageDeserializer.py">
      </type>
   </extension>
   <extension
         point="org.knime.python.typeextension.pythontoknime">
      <type
            id="org.knime.knip.python.extensions.ImgPlusDeserializer"
            java-deserializer-factory="org.knime.knip.python.extensions.ImgPlusDeserializer"
            python-serializer="py/KNIPImageSerializer.py"
            python-type-identifier="KNIPImage.KNIPImage">
      </type>
   </extension>
   <extension
         point="org.knime.python.sourcecodetemplates">
      <folder
            path="templates/">
      </folder>
   </extension>
</plugin>
